<div class="card-deck">
  <div class="card">
    <div class="card-header">Start Process</div>
    <div class="card-body">
      <form class="card-text" (ngSubmit)="submit()" #processForm="ngForm">
        <div class="form-group">
          <label for="filename">Filename</label>
          <input type="text" class="form-control" name="filename" [(ngModel)]="filename" placeholder="filename" />
        </div>
        <button type="submit" class="btn btn-primary">Start</button>
      </form>
    </div>
  </div>
</div>
