<div class="sidebar">
  <nav class="sidebar-nav ps">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="home/table" routerLinkActive="nav-link-primary"> <i class="nav-icon icon-list"></i> Leases </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home/detail" routerLinkActive="nav-link-primary"> <i class="nav-icon icon-notebook"></i> Detail </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home/task" routerLinkActive="nav-link-primary"> <i class="nav-icon icon-grid"></i> Tasks </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home/approve" routerLinkActive="nav-link-primary"> <i class="nav-icon icon-check"></i> Approval </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/mechevarria" target="_blank"> <fa-icon [icon]="githubIcon" class="nav-icon"></fa-icon> Github </a>
      </li>
    </ul>
  </nav>
</div>
